<launch>

    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="model"/>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="$(arg init_pose) -urdf -model $(arg robot_name) -param /robot_description" />

    <!-- Need to add state publisher -->
     <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
         <param name="publish_frequency" type="double" value="50.0" />
         <!--<param name="tf_prefix" value="$(arg robot_name)" />-->
    </node>
</launch>
