<launch>
    <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <arg name="first_tb3"  default="tb3_0"/>
    <arg name="second_tb3" default="tb3_1"/>
    <arg name="third_tb3"  default="tb3_2"/>

    <!--SET THE PARAMS FOR THE POSITION OF THE ROBOTS-->
    <!--<param name="tb3_0_x" type="double" value="-0.4"/>-->
    <!--<param name="tb3_0_y" type="double" value="-1.0"/>-->
    <!--<param name="tb3_0_z" type="double" value="0.0"/>-->
    <!--<param name="tb3_0_yaw" type="double" value="0.0"/>-->

    <!--<param name="tb3_1_x" type="double" value="-0.7"/>-->
    <!--<param name="tb3_1_y" type="double" value="-1.0"/>-->
    <!--<param name="tb3_1_z" type="double" value="0.0"/>-->
    <!--<param name="tb3_1_yaw" type="double" value="0.0"/>-->

    <!--<param name="tb3_2_x" type="double" value="-1.0"/>-->
    <!--<param name="tb3_2_y" type="double" value="-1.0"/>-->
    <!--<param name="tb3_2_z" type="double" value="0.0"/>-->
    <!--<param name="tb3_2_yaw" type="double" value="0.0"/>-->


    <!-- BEGIN ROBOT 1 - THE LEADER-->
    <group ns="$(arg first_tb3)">
        <param name="tf_prefix" value="$(arg first_tb3)"/>
        <include file="$(find project)/ros/launch/one_robot.launch">
            <arg name="init_pose" value="-x -0.4 -y -1.0 -z 0.0"/>
            <arg name="robot_name" value="$(arg first_tb3)"/>
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

    <!-- BEGIN ROBOT 2-->
    <group ns="$(arg second_tb3)">
        <param name="tf_prefix" value="$(arg second_tb3)"/>
        <include file="$(find project)/ros/launch/one_robot.launch">
            <arg name="init_pose" value="-x -0.7 -y -1.0 -z 0.0"/>
            <arg name="robot_name" value="$(arg second_tb3)"/>
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

    <!-- BEGIN ROBOT 3-->
    <group ns="$(arg third_tb3)">
        <param name="tf_prefix" value="$(arg third_tb3)"/>
        <include file="$(find project)/ros/launch/one_robot.launch">
            <arg name="init_pose" value="-x -1.0 -y -1.0 -z 0.0"/>
            <arg name="robot_name" value="$(arg third_tb3)"/>
            <arg name="model" value="$(arg model)"/>
        </include>
    </group>

</launch>
